body{
	font-family: monospace;
}

.Menu{
	color: black;
    font-weight: bold;
	font-size:25px;
    position:absolute;
    top: 5%;
    left: 45%;
}

.Myclass{
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box{
	width: 32%;
	margin-bottom: 10px;
}

.Myclass{
	margin-top: 100px;
}
.Lorem-div2{
	float: left;
	margin-top: 0px;
    /* margin-left: 100px;/ */
    padding: 0px 0px 10px 30px;
     border: 3px solid black;
     box-sizing: border-box;
     
     background-color: grey;

     font-family:  Times new romanArial, Helvetica, sans-serif;
}

.chicken{
	float: right;
	border: 2px solid black;
	border-top-style: hidden;
	border-right-style: hidden;
	background-color: pink;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
	/* display: inline-block; */
	font-weight: bold;
	font-size:20px;
}

.Beef{
	float: right;
    border: 2px solid black;
	border-top-style: hidden;
	border-right-style: hidden;
	background-color: red;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
	font-size:20px;
	color: white;
}

.sushi{
	float: right;
    border: 2px solid black;
	border-top-style: hidden;
	border-right-style: hidden;
	background-color: yellow;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
	font-size:20px;
}

@media (max-width: 992px) {
    .box {
        width: 49%;
        

    }
}

@media (max-width: 768px) {
    .box {
        width: 100%;
    }
}